body {
	padding: 0;
	margin: 0;
	background: #fdfdfd;
}

h2 {
	margin: 0;
	font-size: 18px;
	font-family: 'Helvetica';
	font-weight: 200;
	color: #fff;
	padding-bottom: 5px;
	border-bottom: 1px solid #fff;
}

button {
	margin-top: 10px;
	width: 100%;
	padding: 5px 0;
	box-shadow: none;
	border: none;
}

button:hover {
	background: #eee;
	cursor: pointer;
}

nav {
	height: 50px;
}

main {
	display: flex;
	background: #2c2c2c;
}

aside {
	min-width: 250px;
	padding: 20px 30px;
}

#map {
	width: 100%; 
	height: 100vh;
}